.NFTDetailPage {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: #f5f5f5;
}

.NFTDetailPage_box {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
